//Сalculator background color
$calc_bg : black;

//Сalculator border
$calc_border : 3px solid black;

//Output color
$conclusion_color : white;

//Оutput background color
$conclusion_bg-color : black;

//Hover button color
$btn-color-hover: black;

//Button background color on hover
$btn-bgcolor-hover: #a0a0a0;