* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
}

.calc {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-bottom: 20px;
  background-color: black;
  width: 330px;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
}

.input input {
  color: white;
  background-color: black;
  height: 100px;
  border: none;
  border-radius: 10px;
  width: 97%;
  text-align: right;
  font-family: sans-serif;
  font-size: 40px;
}

.buttons input {
  font-size: 20px;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
  border: none;
}

.buttons input:hover {
  color: black;
  background-color: #a0a0a0;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.btn0 {
  padding-left: 20px;
  text-align: left;
  width: 130px !important;
  border-radius: 50px !important;
}

.yellow {
  background-color: #f59906;
  color: #f3f6f7;
}

.black {
  background-color: #313131;
  color: #f3f6f7;
}

.gray {
  background-color: #a0a0a0;
}

.buttons .gray:hover {
  color: white;
  background-color: #313131;
}

@media (max-width: 350px) {
  body {
    width: 100%;
  }

  .calc {
    width: 100%;
    padding: 0px;
    padding-bottom: 0px;
  }
}